
$Primary-color: #FFFFFF;
$Secondary-color: #F8F9FC;
$Third-color: #C0BFCF;
$Fourth-color: #9D9DB5;
$NavBar-color: #192140;
$Font1-color:  #10131C;
$Hover-color:  #D7F8FF;
$Font2-color:  #DCF10D;
$Toggle-color: #0266FF;